

<cdk-virtual-scroll-viewport *ngIf="dataSource; else provideADataSourceTemplate"
                             cdkScrollable
                             [itemSize]="20">

  <div *cdkVirtualFor="let item of (items$ | async)!" [style.height.px]="20">
    {{item | json}}
  </div>
<!--  <table class="example-table"-->
<!--         cdk-table-->
<!--         recycleRows-->
<!--         [dataSource]="dataSource"-->
<!--         [trackBy]="trackBy">-->

<!--    <ng-container *ngFor="let column of dataSource.columns$ | async"-->
<!--                  [cdkColumnDef]="column.key">-->
<!--      <th class="example-row" cdk-header-cell *cdkHeaderCellDef>-->
<!--        {{column.label}}-->
<!--      </th>-->
<!--      <td cdk-cell *cdkCellDef="let element">{{ element[column.key] }}</td>-->
<!--    </ng-container>-->

<!--    <tr cdk-header-row cdkVirtualScrollingElement *cdkHeaderRowDef="(dataSource.columnNames$ | async)!"></tr>-->
<!--    <tr cdk-row cdkVirtualScrollingElement *cdkRowDef="let row; columns: (dataSource.columnNames$ | async)!"></tr>-->
<!--  </table>-->
</cdk-virtual-scroll-viewport>
<ng-template #provideADataSourceTemplate>
  Please provide a data source
</ng-template>
