<div class="main">
  <div class="main__header">
    <div class="main__row">
      <div class="main__file" (click)="fileInput.click()">
        Click to upload a csv file
        <input #fileInput
               type="file"
               (change)="changeFile($event)"
               [multiple]="false"
               aria-label="Test"
               hidden>
      </div>
    </div>
  </div>
  <div class="main__body">
  <ch-table [dataSource]="dataSource"
            (infiniteScroll)="loadMore()">
    <ng-container [chTableCol]="DataTypes.text">
      <div *chHeaderTableCell="let col"
           [chMenu]="textHeaderColumnOptionsTemplate"
           trigger="rightClick"
           class="header-cell">
        <ng-template #textHeaderColumnOptionsTemplate let-overlayRef="overlayRef">
          <ch-menu>
            <ch-menu-item (click)="changeCase('upper', col.key); overlayRef.detach()">TO UPPER CASE</ch-menu-item>
            <ch-menu-item (click)="changeCase('lower', col.key); overlayRef.detach()">TO LOWER CASE</ch-menu-item>
          </ch-menu>
        </ng-template>
        <ch-ellipsis-text>{{col.label}}</ch-ellipsis-text>
      </div>
      <true-editable-field *chTableCell="let value; let column=column; let rowIndex=rowIndex"
                           [chMenu]="textColumnOptionsTemplate"
                           trigger="rightClick"
                           type="text"
                           [ngModel]="value"
                           (confirmed)="this.updateValue($event, column.key, rowIndex)">
        <ng-template #textColumnOptionsTemplate let-overlayRef="overlayRef">
          <ch-menu>
            <ch-menu-item (click)="changeCase('upper', column.key, rowIndex); overlayRef.detach()">TO UPPER CASE</ch-menu-item>
            <ch-menu-item (click)="changeCase('lower', column.key, rowIndex); overlayRef.detach()">TO LOWER CASE</ch-menu-item>
          </ch-menu>
        </ng-template>
      </true-editable-field>
    </ng-container>
    <ng-container [chTableCol]="DataTypes.number">
      <div *chHeaderTableCell="let col" class="header-cell">
        <ch-ellipsis-text>{{col.label}} ({{col.type}})</ch-ellipsis-text>
      </div>
      <true-editable-field *chTableCell="let value; let column=column; let rowIndex=rowIndex"
                           [ngModel]="value"
                           type="number"
                           (confirmed)="this.updateValue($event, column.key, rowIndex)">
      </true-editable-field>
    </ng-container>
    <ng-container [chTableCol]="DataTypes.email">
      <div *chHeaderTableCell="let col" class="header-cell">
        <ch-ellipsis-text>{{col.label}} ({{col.type}})</ch-ellipsis-text>
      </div>
      <true-editable-field *chTableCell="let value; let column=column; let rowIndex=rowIndex"
                           type="email"
                           [validators]="emailValidators"
                           [ngModel]="value"
                           (confirmed)="this.updateValue($event, column.key, rowIndex)">
      </true-editable-field>
    </ng-container>
    <ng-container [chTableCol]="DataTypes.dateTime">
      <div *chHeaderTableCell="let col" class="header-cell">
        <ch-ellipsis-text>{{col.label}} ({{col.type}})</ch-ellipsis-text>
      </div>
      <true-editable-field *chTableCell="let value; let column=column; let rowIndex=rowIndex"
                           [ngModel]="value | stringToDate | date: 'yyyy-MM-dd HH:mm:ss'"
                           type="datetime-local"
                           (confirmed)="this.updateValue($event, column.key, rowIndex)">
      </true-editable-field>
    </ng-container>
    <ng-container [chTableCol]="DataTypes.unknown">
      <div *chHeaderTableCell="let col" class="header-cell">
        <ch-ellipsis-text>{{col.label}} ({{col.type}})</ch-ellipsis-text>
      </div>
      <div *chTableCell="let value" class="custom-col">
        <ng-template #tooltipTemplate>
          {{value}}
        </ng-template>
        <ch-ellipsis-text [chMenu]="tooltipTemplate" trigger="hover">{{value}}</ch-ellipsis-text>
      </div>
    </ng-container>
  </ch-table>
  </div>
</div>

